body{
    text-align: center;
}
button{
    width: 100px;
    height: 36px;
    background-color: brown;
    border-width: 0px;
    border-radius: 18px;
}
input{
    width: 400px;
    height: 20px;
}